<!DOCTYPE html>
<html>
<head>
  <title>Shorty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Shorty the Shortener</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>

    </ul>
  </div>
</div>


<div class="container">
<div class="row">
  <div class="span9">
    <% if flash[:short_code].present? %>
        <p class='shortened-link'>
          The shortened url is available: <h3><%= url_url(flash[:short_code]) %></h3>Copy and paste to share or click here to be redirected automatically!
        </p>
    <% end %>
    <%= yield %>
  </div>
  <div class="span3">
  </div>


</div>
</div>
</body>
</html>
