<!DOCTYPE html>
<html>
<head>
  <title>Shorty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">Shorty the Shortener</a>
    <ul class="nav">
      <li class="active"><a href="/">Home</a></li>

    </ul>
  </div>
</div>


<div class="container">
<div class="row">
  <div class="span9">
    <% if flash[:short_code].present? %>
        <p class='shortened-link'>

          <% if request.port > 80 %>
            <% url = request.domain + ':' + request.port.to_s + '/' + flash[:short_code]%>

          <% else %>
            <% url = request.domain + '/' + flash[:short_code] %>
          <% end %>
          The shortened url is available: <h3><%= url %></h3>Copy and paste to share or click <a href="<%= request.protocol + url %>">here</a> to be redirected automatically!


        </p>
    <% end %>
    <%= yield %>
  </div>
  <div class="span3">
  </div>


</div>
</div>
</body>
</html>
